/* Mobile theme */

header {
    background-color: #204150;
    color: #fff;
}

nav {
    background-color: #45767b;
    color: #fff;
}

.top-content > div:nth-child(1){
    background-color: #fef171;
}

.top-content > div:nth-child(2){
    background-color: #b2ffd3;  
}

.bottom-content > div:nth-child(1){
    background-color: #72c29b;
}

.bottom-content > div:nth-child(2){
    background-color: #798d96;
}

.bottom-content > div:nth-child(3){
    background-color: #fef8b8;
}

.bottom-content > div:nth-child(4){
    background-color: #d2d9dc;
}

footer {
    background-color: #4c6672;
    color: #fff;
}

/* Desktop theme */
@media only screen and (min-width: 768px){
}